<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.musicplay">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/headset"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- The main/home activity (it has no parent activity) -->
        <activity
            android:name="com.example.android.musicplay.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- A child of the main activity -->
        <activity
            android:name=".Chill_Activity.ChillActivity"
            android:screenOrientation="portrait"
            android:label="Chill Artist"
            android:parentActivityName=".Chill_Album.ChillAlbum" />
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.android.musicplay.MainActivity" />

        <!-- A child of the main activity -->
        <activity
            android:name=".Chill_Album.ChillAlbum"
            android:screenOrientation="portrait"
            android:label="Chill Albums"
            android:parentActivityName="com.example.android.musicplay.MainActivity" />
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.android.musicplay.MainActivity" />

        <!-- A child of the main activity -->
        <activity
            android:name=".Chill_Activity.ChillActivity2"
            android:screenOrientation="portrait"
            android:label="Chill Artist"
            android:parentActivityName=".Chill_Album.ChillAlbum" />
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.android.musicplay.MainActivity" />

        <!-- A child of the main activity -->
        <activity
            android:name=".Chill_Activity.ChillActivity3"
            android:screenOrientation="portrait"
            android:label="Chill Artist"
            android:parentActivityName=".Chill_Album.ChillAlbum" />
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.android.musicplay.MainActivity" />

        <!-- A child of the main activity -->
        <activity
            android:name=".Chill_Activity.ChillActivity4"
            android:screenOrientation="portrait"
            android:label="Chill Artist"
            android:parentActivityName=".Chill_Album.ChillAlbum" />
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.android.musicplay.MainActivity" />

        <!-- A child of the main activity -->
        <activity
            android:name=".Chill_Activity.ChillActivity5"
            android:screenOrientation="portrait"
            android:label="Chill Artist"
            android:parentActivityName=".Chill_Album.ChillAlbum" />
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.android.musicplay.MainActivity" />

        <!-- A child of the main activity -->
        <activity
            android:name=".Chill_Activity.ChillActivity6"
            android:screenOrientation="portrait"
            android:label="Chill Artist"
            android:parentActivityName=".Chill_Album.ChillAlbum" />
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.android.musicplay.MainActivity" />

        <!-- A child of the main activity -->
        <activity
            android:name=".Chill_Activity.ChillActivity7"
            android:screenOrientation="portrait"
            android:label="Chill Artist"
            android:parentActivityName=".Chill_Album.ChillAlbum" />
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.android.musicplay.MainActivity" />

        <!-- A child of the main activity -->
        <activity
            android:name=".Chill_Activity.ChillActivity8"
            android:screenOrientation="portrait"
            android:label="Chill Artist"
            android:parentActivityName=".Chill_Album.ChillAlbum" />
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.android.musicplay.MainActivity" />

        <!-- A child of the main activity -->
        <activity
            android:name=".Chill_Activity.ChillActivity9"
            android:screenOrientation="portrait"
            android:label="Chill Artist"
            android:parentActivityName=".Chill_Album.ChillAlbum" />
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.android.musicplay.MainActivity" />

        <!-- A child of the main activity -->
        <activity
            android:name=".Chill_Activity.ChillActivity10"
            android:screenOrientation="portrait"
            android:label="Chill Artist"
            android:parentActivityName=".Chill_Album.ChillAlbum" />
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.android.musicplay.MainActivity" />

        <!-- A child of the main activity -->
        <activity
            android:name=".Chill_Activity.ChillActivity11"
            android:screenOrientation="portrait"
            android:label="Chill Artist"
            android:parentActivityName=".Chill_Album.ChillAlbum" />
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.android.musicplay.MainActivity" />

        <!-- A child of the main activity -->
        <activity
            android:name=".Chill_Activity.ChillActivity12"
            android:screenOrientation="portrait"
            android:label="Chill Artist"
            android:parentActivityName=".Chill_Album.ChillAlbum" />
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.android.musicplay.MainActivity" />

        <!-- A child of the main activity -->
        <activity
            android:name=".Pop_Activity.PopActivity"
            android:screenOrientation="portrait"
            android:label="Pop Artist"
            android:parentActivityName=".Pop_Album.PopAlbum" />
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.android.musicplay.MainActivity" />

        <!-- A child of the main activity -->
        <activity
            android:name=".Pop_Album.PopAlbum"
            android:screenOrientation="portrait"
            android:label="Pop Albums"
            android:parentActivityName="com.example.android.musicplay.MainActivity" />
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.android.musicplay.MainActivity" />

        <!-- A child of the main activity -->
        <activity
            android:name=".Pop_Activity.PopActivity2"
            android:screenOrientation="portrait"
            android:label="Pop Artist"
            android:parentActivityName=".Pop_Album.PopAlbum" />
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.android.musicplay.MainActivity" />

        <!-- A child of the main activity -->
        <activity
            android:name=".Pop_Activity.PopActivity3"
            android:screenOrientation="portrait"
            android:label="Pop Artist"
            android:parentActivityName=".Pop_Album.PopAlbum" />
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.android.musicplay.MainActivity" />

        <!-- A child of the main activity -->
        <activity
            android:name=".Pop_Activity.PopActivity4"
            android:screenOrientation="portrait"
            android:label="Pop Artist"
            android:parentActivityName=".Pop_Album.PopAlbum" />
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.android.musicplay.MainActivity" />

        <!-- A child of the main activity -->
        <activity
            android:name=".Pop_Activity.PopActivity5"
            android:screenOrientation="portrait"
            android:label="Pop Artist"
            android:parentActivityName=".Pop_Album.PopAlbum" />
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.android.musicplay.MainActivity" />

        <!-- A child of the main activity -->
        <activity
            android:name=".Pop_Activity.PopActivity6"
            android:screenOrientation="portrait"
            android:label="Pop Artist"
            android:parentActivityName=".Pop_Album.PopAlbum" />
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.android.musicplay.MainActivity" />

        <!-- A child of the main activity -->
        <activity
            android:name=".Pop_Activity.PopActivity7"
            android:screenOrientation="portrait"
            android:label="Pop Artist"
            android:parentActivityName=".Pop_Album.PopAlbum" />
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.android.musicplay.MainActivity" />

        <!-- A child of the main activity -->
        <activity
            android:name=".Pop_Activity.PopActivity8"
            android:screenOrientation="portrait"
            android:label="Pop Artist"
            android:parentActivityName=".Pop_Album.PopAlbum" />
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.android.musicplay.MainActivity" />

        <!-- A child of the main activity -->
        <activity
            android:name=".Pop_Activity.PopActivity9"
            android:screenOrientation="portrait"
            android:label="Pop Artist"
            android:parentActivityName=".Pop_Album.PopAlbum" />
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.android.musicplay.MainActivity" />

        <!-- A child of the main activity -->
        <activity
            android:name=".Pop_Activity.PopActivity10"
            android:screenOrientation="portrait"
            android:label="Pop Artist"
            android:parentActivityName=".Pop_Album.PopAlbum" />
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.android.musicplay.MainActivity" />

        <!-- A child of the main activity -->
        <activity
            android:name=".Pop_Activity.PopActivity11"
            android:screenOrientation="portrait"
            android:label="Pop Artist"
            android:parentActivityName=".Pop_Album.PopAlbum" />
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.android.musicplay.MainActivity" />

        <!-- A child of the main activity -->
        <activity
            android:name=".Pop_Activity.PopActivity12"
            android:screenOrientation="portrait"
            android:label="Pop Artist"
            android:parentActivityName=".Pop_Album.PopAlbum" />
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.android.musicplay.MainActivity" />

        <!-- A child of the main activity -->
        <activity
            android:name=".Focus_Album.FocusAlbum"
            android:screenOrientation="portrait"
            android:label="Focus Albums"
            android:parentActivityName="com.example.android.musicplay.MainActivity" />
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.android.musicplay.MainActivity" />

        <!-- A child of the main activity -->
        <activity
            android:name=".Indie_Album.IndieAlbum"
            android:screenOrientation="portrait"
            android:label="Indie Albums"
            android:parentActivityName="com.example.android.musicplay.MainActivity" />
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.android.musicplay.MainActivity" />

        <!-- A child of the main activity -->
        <activity
            android:name=".Rap_Album.RapAlbum"
            android:screenOrientation="portrait"
            android:label="R and B Albums"
            android:parentActivityName="com.example.android.musicplay.MainActivity" />
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.android.musicplay.MainActivity" />

        <!-- A child of the main activity -->
        <activity
            android:name=".Party_Album.PartyAlbum"
            android:screenOrientation="portrait"
            android:label="Party Albums"
            android:parentActivityName="com.example.android.musicplay.MainActivity" />
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.android.musicplay.MainActivity" />

        <!-- A child of the main activity -->
        <activity
            android:name=".Romance_Album.RomanceAlbum"
            android:screenOrientation="portrait"
            android:label="Romance Albums"
            android:parentActivityName="com.example.android.musicplay.MainActivity" />
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.android.musicplay.MainActivity" />

        <!-- A child of the main activity -->
        <activity
            android:name=".Rock_Album.RockAlbum"
            android:screenOrientation="portrait"
            android:label="Rock Albums"
            android:parentActivityName="com.example.android.musicplay.MainActivity" />
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.android.musicplay.MainActivity" />

        <!-- A child of the main activity -->
        <activity
            android:name=".Game_Album.GameAlbum"
            android:screenOrientation="portrait"
            android:label="Game Albums"
            android:parentActivityName="com.example.android.musicplay.MainActivity" />
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.android.musicplay.MainActivity" />

        <!-- A child of the main activity -->
        <activity
            android:name=".Mood_Album.MoodAlbum"
            android:screenOrientation="portrait"
            android:label="Mood Albums"
            android:parentActivityName="com.example.android.musicplay.MainActivity" />
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.android.musicplay.MainActivity" />

        <!-- A child of the main activity -->
        <activity
            android:name=".Soul_Album.SoulAlbum"
            android:screenOrientation="portrait"
            android:label="Soul Albums"
            android:parentActivityName="com.example.android.musicplay.MainActivity" />
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.android.musicplay.MainActivity" />

        <!-- A child of the main activity -->
        <activity
            android:name=".Sleep_Album.SleepAlbum"
            android:screenOrientation="portrait"
            android:label="Sleep Albums"
            android:parentActivityName="com.example.android.musicplay.MainActivity" />
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.android.musicplay.MainActivity" />
    </application>
</manifest>



































































































